html, body {
  height: 100%;
  padding: 5px;
  color: #000099;
  /*background-image: linear-gradient(to right, rgba(200, 200, 200, 0.9), white);*/
  background-color: white;
  background-repeat: repeat;
  font-family: consolas;
  font-size: 12pt;
  text-align: justify;
}

.horizontalRule {
  border: 0.5px solid #AAAAAA;
  margin: 20px 3% 20px 3%;
}

div#projectName {
  font-size: 28pt;
  text-align: center;
  color: #0000DD;
}

div#projectDescription {
  text-align: center;
  font-size: 18pt;
  padding: 15px;
}

img#signatureImage {
  height: 165px;
}

div#signatureContainer {
  height: 130px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, rgba(0, 0, 60, 0.1), rgba(0, 0, 30, 0.1));
  border-radius: 3px;
  -webkit-box-shadow: 1px -1px 1px #999999;
}

div#signaturePizzaContainer {
  margin-top: 20px;
}

div#contentContainer {
  min-height: calc(100% - 130px);
  overflow: visible;
  /*padding: 20px 100px 20px 100px;*/
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  -webkit-box-shadow: 1px -1px 1px #999999;
}

.section-title {
  font-size: 16pt;
  font-weight: bold;
  color: black;
}

.img-pizza {
  height: 170px;
  margin: 8px;
}

.img-pizza-title {
  font-size: 14pt;
  color: black;
}

.btn-size {
  width: 50px;
  text-align: center;
}
